pandas
numpy
seaborn
matplotlib
gensim
nltk
tensorflow
torch
torchtext==0.15.2
torchmetrics
scikit-learn
keras
keras_balanced_batch_generator
ipython
spacy
tranformers
datasets
sklearn